<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Heroku Lighthouse</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <%= if @current_user do %>
          <nav role="navigation">
            <ul>
              <li>
                <%= link "Sign out", to: HerokuLighthouseWeb.Router.Helpers.auth_path(@conn, :destroy), method: "delete" %>
              </li>
            </ul>
          </nav>
          <div class="horizontal-centering">
            <%= link @current_user.email, to: HerokuLighthouseWeb.Router.Helpers.account_path(@conn, :show) %>

            <%= link to: HerokuLighthouseWeb.Router.Helpers.dashboard_path(@conn, :index) do %>
              <img alt="Home" src="https://img.icons8.com/pastel-glyph/2x/lighthouse.png" class="header-icon">
            <% end %>
          </div>
        <% end %>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer>
        <section class="container">
          <div>created by <a href="mailto:mikeandrianov@gmail.com">Mike Andrianov</a> with ❤️</div>

          <div>
            <small><a href="https://icons8.com/icon/111573/lighthouse">Lighthouse icon by Icons8</a></small>
          </div>
        </section>
      </div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
